@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:linear-gradient(45deg, #e51b61, #e51b61, #f784a2  , #f784a2 );
    margin: 0;
}
nav {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #fff;
    margin-bottom: 730px;
    position: absolute;
    top: 0;
}

nav img {
   height: 60px;
   top: 0;
}



.Nome{
    margin-top: 145px;
}
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: #ffccd1;
    border: 2px solid #e51b61 ;
    border-radius: 20px;
    color:#f784a2;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-bottom: 16px;
    color: #e51b61;
}
.input-box {
    position: relative;
    margin-bottom: 20px;
}
.input-box input {
    width: 100%;
    padding: 12px 45px 12px 20px;
    border: 2px solid #e51b61 ;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #f784a2;
    background: #fff;
}

.input-box input:focus {
    border-color:#e51b61;
}

.input-box input::placeholder {
    color: #f784a2;
}

.input-box i {
    position: absolute;
    right: 20px;
    margin-left:15px;
    margin-top: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #e51b61;
}
.button {
    width: 96%;
    padding: 12px;
    margin-left: 6px;
    background: #52c7c3;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.button:hover {
    transform: scale(1.05);
}

.jatemconta {
    display: flex;
    font-size: 14px;
    margin-left: 27px;
    margin-top: 10px;
}

a {
    color: #e51b61;
    text-decoration: none;
    font-weight: bold;
}